@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(90deg, rgba(30, 189, 86, 1) 0%, rgba(83, 189, 145, 1) 50%, rgba(83, 237, 214, 1) 100%);
    text-align: center;
    margin: 0;
    font-family: "Noto Sans", sans-serif;

}

img {
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 550px;
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;

}


.Conteudo_Central {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}
li {
    list-style-position: inside;
}

  

.contador {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

}

.contador-digito {
    background-color: #7af8ce;
    padding: 10px 12px;
    border-radius: 8px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contador-digito-numero {
    font-size: 30px;
    font-weight: bold;
}

.contador-digito-texto {
    font-size: 25px;
    margin-top: 4px;
    font-weight: bold;
}

.block {
    border-radius: 30px;
    background-color: aliceblue;
    width: 90%;
    max-width: 700px;
    height: auto;
    min-height: 400px;
}

h1 {
    font-size: 60px;
}

a {
    font-size: 20px;
}

.bloco {
    margin-top: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(201, 245, 188);
    width: 800px;
    height: 250px;
    margin-left: 400px;
    margin-bottom: 20px;
    padding: 20px;


}